<style type="text/css">
  .hiveDemo-padding {
    padding: 1rem;
    text-align: center!important;
  }
  .mt-Hive > *{
    outline: 1px solid white;
    outline-offset: -1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
</style>

<div class="mt-Hive mt-Hive--xxs-1 mt-Hive--xs-2 mt-Hive--m-3">
  <div class="u-bgc--pruebas hiveDemo-padding">
    <h3>
      1 col (xxs) <br />
      2 cols (sm) <br />
      4 cols (md)
    </h3>
  </div>
  <div class="u-bgc--pruebas hiveDemo-padding">
    <h3>
      1 col (xxs) <br />
      2 cols (sm) <br />
      4 cols (md)
    </h3>
  </div>
  <div class="u-bgc--pruebas hiveDemo-padding">
    <h3>
      1 col (xxs) <br />
      2 cols (sm) <br />
      4 cols (md)
    </h3>
  </div>
  <div class="u-bgc--pruebas hiveDemo-padding"><h3>
      1 col (xxs) <br />
      2 cols (sm) <br />
      4 cols (md)
    </h3>
  </div>
  <div class="u-bgc--pruebas hiveDemo-padding">
    <h3>
      1 col (xxs) <br />
      2 cols (sm) <br />
      4 cols (md)
    </h3>
  </div>
  <div class="u-bgc--pruebas hiveDemo-padding">
    <h3>
      1 col (xxs) <br />
      2 cols (sm) <br />
      4 cols (md)
    </h3>
  </div>
</div>
