<style type="text/css">
  .hiveDemo-padding {
    padding: 1rem;
    text-align: center!important;
  }
  .mt-Hive > *{
    outline: 1px solid white;
    outline-offset: -1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
</style>


<div class="mt-Hive mt-Hive--s-1 u-mb--large">
  <div class="u-bgc--pruebas hiveDemo-padding">
      <h3>1 col</h3>
      General grid
  </div>
</div>
<div class="mt-Hive mt-Hive--s-3 u-mb--large">
  <div class="u-bgc--pruebas hiveDemo-padding">
      <h3>3 col</h3>
      General grid
  </div>
  <div class="u-bgc--pruebas hiveDemo-padding">
      <h3>3 col</h3>
      General grid
  </div>
  <div class="u-bgc--pruebas hiveDemo-padding">
      <h3>3 col</h3>
      General grid
  </div>
</div>
