<style type="text/css">
  .hiveDemo-padding {
    padding: 1rem;
    text-align: center!important;
  }
  .mt-Hive > *{
    outline: 1px solid white;
    outline-offset: -1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
</style>


<div class="mt-Hive">
  <div class="mt-Hive mt-Hive--s-2 u-mb--large">
    <div class="u-bgc--pruebas">
      <div class="hiveDemo-padding">
        <h3>2 cols</h3>
        General grid
      </div>
      <div class="mt-Hive mt-Hive--s-2 u-bgc--presentacion">
        <div class="hiveDemo-padding">
          <h3>2 col</h3>
          Nested grid
        </div>
        <div class="hiveDemo-padding">
          <h3>2 col</h3>
          Nested grid
        </div>
      </div>
    </div>
    <div class="u-bgc--pruebas">
      <div class="hiveDemo-padding">
        <h3>2 cols</h3>
        General grid
      </div>
      <div class="mt-Hive mt-Hive--s-2 u-bgc--presentacion">
        <div class="hiveDemo-padding">
          <h3>2 col</h3>
          Nested grid
        </div>
        <div class="hiveDemo-padding">
          <h3>2 col</h3>
          Nested grid
        </div>
      </div>
    </div>
  </div>
</div>
