<style type="text/css">
.gridDemo-padding {
  padding: 1rem 0;
  text-align: center;
}
.gridDemo-margin {
  /*margin-bottom: .3rem;*/
  /*margin-right: .1rem;*/
  /*margin-left: 0rem;*/
    /*margin: 1px;*/
}

[class*="mt-Grid-col"] {
    outline: 1px solid white;
    outline-offset: -1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


</style>
<div class="mt-grid-demo">




  <h3 class="u-mb--medium">
    <strong><code>.mt-Grid-col--sm-4 .mt-Grid-push--sm-4</code></strong>
  </h3>


  <h3 class="u-mb--medium">
    <strong><code>.mt-Grid-col--sm-2 .mt-Grid-col--md-4</code></strong>
  </h3>
  <div class="mt-Grid-outerWrap u-mb--large">
    <div class="mt-Grid">
      <div class="mt-Grid-row">
        <article class="mt-Grid-col--sm-2 mt-Grid-col--md-4 u-bgc--pruebas gridDemo-padding">
          <h3>1 col (xxs) <br /> 2 cols (sm)<br /> 4 cols (md)</h3>
        </article>
        <article class="mt-Grid-col--sm-2 mt-Grid-col--md-4 u-bgc--presentacion gridDemo-padding">
          <h3>1 col (xxs) <br /> 2 cols (sm)<br /> 4 cols (md)</h3>
        </article>
        <article class="mt-Grid-col--sm-2 mt-Grid-col--md-4 u-bgc--pruebas gridDemo-padding">
          <h3>1 col (xxs) <br /> 2 cols (sm)<br /> 4 cols (md)</h3>
        </article>
        <article class="mt-Grid-col--sm-2 mt-Grid-col--md-4 u-bgc--presentacion gridDemo-padding">
          <h3>1 col (xxs) <br /> 2 cols (sm)<br /> 4 cols (md)</h3>
        </article>
        <article class="mt-Grid-col--sm-2 mt-Grid-col--md-4 u-bgc--pruebas gridDemo-padding">
          <h3>1 col (xxs) <br /> 2 cols (sm)<br /> 4 cols (md)</h3>
        </article>
        <article class="mt-Grid-col--sm-2 mt-Grid-col--md-4 u-bgc--presentacion gridDemo-padding">
          <h3>1 col (xxs) <br /> 2 cols (sm)<br /> 4 cols (md)</h3>
        </article>

      </div>
    </div>
  </div>

</div>
